<h1>Héroe: <small>nombre del héroe</small></h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button routerLink="/heroes" class="btn btn-outline-danger">
          <i class="fa fa-arrow-left"></i>
          Regresar
        </button>
    </div>
</div>

<div class="row animate__animated animate__fadeIn">
    <div class="col">
        <form (ngSubmit)="guardar(f)" #f="ngForm">
            <div class="form-group">
                <label>Firebase ID:</label>
                <input type="text" class="form-control" [(ngModel)]="heroe.id" name="id" disabled placeholder="Firebase ID">
                <small class="form-text text-muted">Este campo es autogenerado.</small>
            </div>

            <div class="form-group">
                <label>Nombre:*</label>
                <input type="text" class="form-control" [(ngModel)]="heroe.nombre" name="nombre" placeholder="Nombre del héroe" required>
            </div>

            <div class="form-group">
                <label>Poder:*</label>
                <input type="text" class="form-control" [(ngModel)]="heroe.poder" name="poder" placeholder="Poder del héroe" required>
            </div>

            <div class="form-group">
                <label>Estado:</label>
                <br>
                <button *ngIf="heroe.vivo" (click)="heroe.vivo = false" class="btn btn-outline-success w-50" type="button">
                  <i class="fa fa-smile"></i>
                  Vivo
                </button>
                <button *ngIf="!heroe.vivo" (click)="heroe.vivo = true" class="btn btn-outline-danger w-50" type="button">
                  <i class="fa fa-dizzy"></i>
                  Muerto
                </button>
            </div>

            <hr>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary w-25">
                  <i class="fa fa-save"></i>
                  Guardar
                </button>
            </div>
        </form>
    </div>
</div>