<h1>Listado de Héroes</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button routerLink="/heroe/nuevo" class="btn btn-outline-primary">
          <i class="fa fa-plus"></i>
          Agregar
        </button>
    </div>
</div>

<table *ngIf="!cargando && heroes.length > 0" class="table mt-3 animate__animated animate__fadeIn">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Poder</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let heroe of heroes; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ heroe.nombre }}</td>
            <td>{{ heroe.poder }}</td>
            <td>
                <label *ngIf="heroe.vivo" class="badge badge-success">Vivo</label>
                <label *ngIf="!heroe.vivo" class="badge badge-danger">Muerto</label>
            </td>
            <td>
                <button [routerLink]="['/heroe', heroe.id]" class="btn btn-outline-info mr-1"><i class="fa fa-pen"></i></button>
                <button (click)="eliminarHeroe(heroe, i)" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="cargando" class="alert alert-info text-center mt-3 animate__animated animate__fadeIn">
    <div class="alert-heading">Cargando...</div>
    <p class="mb-0"><i class="fa fa-sync-alt fa-spin fa-2x"></i></p>
</div>

<div *ngIf="!cargando && heroes.length === 0" class="alert alert-warning text-center mt-3 animate__animated animate__fadeIn">
    <div class="alert-heading">¡No hay registros!</div>
    <p class="mb-0"><i class="fa fa-exclamation fa-2x"></i></p>
</div>